a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* FONTS */
    /* font-family: 'Press Start 2P', sans-serif;
    font-family: 'Spicy Rice', cursive;
    font-family: 'Lato', sans-serif; */

/* GLOBAL STYLES */ 
html {
    background-color: black;
    overflow-x: hidden;
}
@font-face {
    font-family: 'OSD-MONO'; /*a name to be used later*/
    src: '/styles/Fonts/VCR_OSD_MONO.ttf'; /*URL to font*/
}
/* body image from https://freepngimg.com/png/5106-cloud-png-image */
body{
    background: url('./assets/7-cloud-png-image.png') no-repeat, linear-gradient(0deg, rgba(47,49,71,1) 0%, rgba(66,73,139,1) 30%, rgba(132,195,252,1) 70%,rgb(255, 204, 233) 96%); 
    color: white;
    text-shadow: 2px 2px 0 #007676;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    width: 94vw;
}
nav,
header,
header div,
main,
.mainNav,
.mainContentList li,
.projectInformation,
.projectTools,
.contact li,
.socialMedia,
footer
{
    display: flex;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
h2 {
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 2px 2px 0 #0cffff6b;
    font-size: 42px;
    letter-spacing: 4px;
    margin: 0 0 25px 0;
}
.butterflyBox {
    display: flex;
    position: relative;
    width: 124px;
    transform: rotate(45deg);
    right: 45px;
    bottom: 235px;
}

.leftWing {
    z-index: 1;
    width: 50px;
    position: absolute;
    right: 0;
    animation: leftWing;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: top right;
}
.rightWing {
    z-index: 10;
    width: 50px;
    position: absolute;
    right: 1px;
    animation: rightWing;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: center right;
}

@keyframes leftWing {
    from {
        transform: rotate3d(0, 1, 0, 0deg)
    }
    30% {
        transform: rotate3d(0, 1, 0, 0deg)
    }
    50% {
        transform: rotate3d(0, 1, 0, 80deg)
    }
    70% {
        transform: rotate3d(0, 1, 0, 0deg)
    }
    to {
        transform: rotate3d(0, 1, 0, 0deg)
    }
}
@keyframes rightWing {
    from {
        transform: rotate3d(0, 1, 0, 180deg)
    }
    30% {
        transform: rotate3d(0, 1, 0, 180deg)
    }
    50% {
        transform: rotate3d(0, 1, 0, 100deg)
    }
    70% {
        transform: rotate3d(0, 1, 0, 180deg)
    }
    to {
        transform: rotate3d(0, 1, 0, 180deg)
    }
}

.butterfly2 {
    display: flex;
    position: relative;
    top: 158px;
    left: -47px;
    transform: rotate(-45deg);
    width: 70px;
    animation-delay: 5s;
    z-index: 20;
}

/* NAV BAR */
.mainNav {
    justify-content: flex-end;
    align-items: center;
    height: 75px;
}
.mainNav li,
.mainNav i {
    color: #313844;
    cursor: pointer;
    padding: 10px 0 10px 25px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}
.mainNav li:hover,
.mainNav li:focus {
    text-decoration: underline;
}
.hamburgerWrapper{
    display: none;
}
.fa-bars {
    font-size: 20px;
}
#hamburger {
    display: none;
}
.fab {
    font-size: 25px;
}

/* HEADER */
header {
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: bold;
    height: 83vh;
    padding: 0 20px;
    margin-bottom: 50px;
    color: #313844;
    text-shadow: 2px 2px 0 #0cffff6b;
}
header div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,
#lrgName {
    font-family: 'Press Start 2P', cursive;
    font-weight: 900;
    letter-spacing: 4px;
    text-shadow: 2px 2px 0 #0cffff6b;
}
#lrgName {
    font-size: 100px;
}
h1 {
    font-size: 51px;
}
#arrowDown:hover,
#arrowDown:focus{
    translate: 0px 2px;
    /* text-shadow:1px 1px 0 black ; */
}
header .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
}
#arrowDown {
    font-family:'Press Start 2P', sans-serif;
    margin: 20px;
    padding: 5px;
    font-size: 23px;
    cursor: pointer;
    border: 1.5px double;
    border-radius: 11px;
}
@keyframes textScroll {
  from {translate: 0px 2px;}
  to {translate: 0px -400px;}
}
@-webkit-keyframes textScroll {
  from {translate: 0px 2px;}
  to {translate: 0px -400px;}
}
@-moz-keyframes textScroll {
  from {translate: 0px 2px;}
  to {translate: 0px -400px;}
}
@-o-keyframes textScroll {
  from {translate: 0px 2px;}
  to {translate: 0px -400px;}
}
#skillList {
    font-size: 27px;
    animation-name: textScroll;
    -webkit-animation-name: textScroll 15s infinite; /* Safari 4+ */
    -moz-animation-name:textScroll 15s infinite; /* Fx 5+ */
    -o-animation-name:textScroll 15s infinite; 
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
#skillList li {
    margin-bottom: 10px;
}
#scrollBox {
    font-family: 'Press Start 2P', sans-serif;
    height: 30vh;
    width: 30%;
    overflow: scroll;
    
}

/* MAIN */
.secondaryNav .projectOneSection,
.secondaryNav .projectTwoSection,
.secondaryNav .projectThreeSection,
.secondaryNav .projectFourSection,
.secondaryNav .projectFiveSection {
    margin-left: 10px;
}
.secondaryNav {
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 2px 2px 0 #007676;
    position: sticky;
    position: -webkit-sticky; 
    height: 100%;
    width: 13vw;
    margin-top: 100px;
    top: 100px;
    line-height: 20px;
    z-index: 20;
}
.secondaryNav li {
    margin-bottom: 13px;
    cursor: pointer;
    font-size: 16.5px;
    letter-spacing: 5px;
    font-weight: bold;
}
.secondaryNav li:hover,
.secondaryNav li:focus {
    position: relative;
    margin-left: 15px;
    margin-bottom: 12px;
    border-bottom: 1px solid white;
}
li.removeListHoverEffect:hover,
li.removeListHoverEffect:focus {
    cursor: default;
    text-decoration: none;
    margin-left: 0;
    margin-bottom: 13px;
    border-bottom: none;
}
.mainContentList {
    margin-left: 50px;
    margin-top: 50px;
    width: 84vw;
    height: 100%;
}
.section {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    z-index: 20;
}
.focused{
    box-shadow:1px 1px 5px grey;
    width: 50%;
}
.mainContentList img {
    width: 100%;
}
.section p {
    margin-bottom: 25px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* ABOUT ME */
.aboutMe{ 
    position: relative;
    flex-direction: row;
}
.aboutMeText {
    width: 60%;
}
.aboutMeImage img {
    width: 444px;
}

/* PROJECTS */
.aboutMeCloudBox {
    height: 37vh;
}
#projectCloud {
    position: absolute;
    transform: rotateY(180deg);
    right: 315px;
    bottom: -156px;
    width: 118%!important;
}
.project {
    flex-direction: row;
}
.projectImage {
    width: 35%;
}
.projectInformation {
    flex-direction: column;
    padding: 25px 15px;
    width: 85%;
    justify-content: space-between;
}
.projectDescription{
    flex-direction: column;
    text-align: left;
}
.projectDescription span {
    font-size: 12px;
    margin-bottom: 25px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: 3px;
}
.projectLinks{
    margin-top: 15px;
}
.projectLinks a {
    margin-right:25px;
}
.projectLinks a:hover,
.projectLinks a:focus{
    text-decoration: underline;
}
#projectFiveSection {
    margin-bottom: 100px;
}



/* CONTACT */
.section.contact {
    background-image: url('./assets/7-cloud-png-image.png') cover no-repeat;
}
.contact {
    position: relative;
    text-shadow: 1px 1px 0 #0cffff6b;
    padding: 50px;
    padding-left: 0;
    margin-bottom: 50px;
    margin-top: 333px;
    flex-direction: row;
    justify-content: space-between;
}
.contact li {
    align-items: center;
}
.contact span {
    margin: 0 0 10px;
}
.emailSection span {
    display: none;
    font-size: 25px;
    cursor: pointer;
}
.socialMedia a {
    font-size: 20px;
    margin: 15px;
}
.socialMedia .fab {
    font-size: 30px;
}
.contact .socialMedia a {
    margin-left: 0;
}

.cloudBox {
    position: relative;
}
#contactCloud {
    position: absolute;
    width: 142%;
    right: -208px;
    top: -172px;
}

/* FOOTER */
footer {
    height: 50px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer span {
    letter-spacing: 3px;
    font-size: 12px;
}
footer a {
    color: white;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px){
    /* GLOBAL */
    /* NAV */
    /* HEADER */
    header .wrapper {
        flex-direction: column;
    }
    h1{
        width: 100;
        font-size: 40px;
        /* position: absolute;  
        right: 20px; */
    }
    #lrgName {
        font-size: 92px;
    }
    #scrollBox {
        width: initial;
    }
    /* MAIN */
    .section.project {
        flex-direction: row;
    }
    /* FOOTER */
}
@media screen and (max-width: 800px){
    .section.project {
        flex-direction: column;
    }
    .emailSection p {
        display: none;
    }

    .emailSection span {
        display: initial;
    }

}
@media screen and (max-width: 600px){
    /* GLOBAL */
    /* NAV */
    nav {
        color: #313844;
        background-color: #ffffffa6;
        height: 40px;
        position: fixed;
        z-index: 100;
        display: inline-block;
        width: 100vw;
    }
    .hamburgerWrapper{
        display: inherit;
        text-align: right;
        padding-top: 12px;
    }
    .mainNav {
        position: absolute;
        display: block;
        left: -100%;
        background-color: rgba(255, 255, 255, 0.904);
        width: 100vw;
        height: 100vh;
        padding-top: 30px;
    }
    /* HEADER */
    h1{
        right: 2%;
        /* width: 55%; */
        font-size: 37px;
    }
    #scrollBox {
        display: none;
    }
    header {
        height: 100vh;
    }
    header span {
        font-size: 25px;
    }
    /* MAIN */
    .secondaryNav {
        display: none;
    }
    .mainContentList {
        width: 100%;
        margin-left: 0;
    }
    h2 {
        font-size: 31px;
    }
    .aboutMeImage {
        display: none;
    }
    .aboutMe {
        padding: 25px;
    }
    .aboutMeText {
        padding-right: 45px;
        width: 100%;
        text-align: center;
    }
    .skills {
        padding: 25px;
    }

    .skillsRow li {
        margin: 5px;
    }
    .section.project {
        flex-direction: column;
    }

    .projectLinks{
        justify-content: end;
        align-items: end;
    }
    .contact {
        padding: 0 ;
        margin-bottom: 16px;
    }
    /* FOOTER */
}
@media screen and (max-width: 552px){
    header {
        padding-top: 40px;
    }

    header .wrapper {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    #lrgName {
        font-size: 59px;
    }

    h1 {
        font-size: 20px;
        position: initial;
        width: 279px;
        margin: 0;
        margin-top: 22px;
    }
    .aboutMe {
        padding: 0;
        color: teal;
        text-shadow: none;
    }

}
@media screen and (max-width: 400px){
    /* GLOBAL */
    /* NAV */
    /* HEADER */
    header {
        padding-top: 40px;
    }
    /* MAIN */
    .mainContentList {
        margin-top: 16px;
    }
    h2 {
        margin: 5px 0;
        font-size: 21px;
        letter-spacing: 2px;
    }
    .section p{
        font-size: 16.5px;
        margin-bottom: 5px;
    }
    .aboutMe {
        padding: 15px;
    }
    .skills {
        padding: 7px;
    }
    .skillsRow img {
        height: 100px;
    }
    .skillsRow li {
        width: 16%;
    }
    .skillsRow span {
        font-size: 10px;
        margin-bottom: 0px;
        margin-bottom: 0;
    }
    .section.project {
        flex-direction: column;
    }
    .projectInformation {
        padding: 15px;
        width: 100%;
    }
    .projectDescription span {
        margin-bottom: 4px;
    }
    .projectLinks {
        margin-top: 15px;
        justify-content: start;
    }
    .contact .textContainer {
        padding: 6px;
    }
    .socialMedia a {
        margin: 5px;
    }
    .socialMedia .fab {
    font-size: 26px;
}
    /* FOOTER */
    footer {
        height: 85px;
    }
    footer span {
        margin: 4px 0;
    }
}

